version: '3.0'

services:

  brand-estimator:
    build:
      context: brand-estimator
    image: brand-estimator:latest
    container_name: brand-estimator
    hostname: brand-estimator
    ports:
      - "8888:8888"
    networks:
      - otel-with-pulsar
    depends_on:
      - redis-server
      - pulsar-server
      - otel-collector
    environment:
      - REDIS_HOSTNAME=redis-server
      - REDIS_PORT=6379
      - PULSAR_SERVICE_URL=pulsar://pulsar-server:6650
      - OTEL_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:55680
      - OTEL_RESOURCE_ATTRIBUTES=service.name=brand-estimator,service.version=1.0
    healthcheck:
      interval: 5s
      retries: 10
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:8888/actuator/health

  redis-server:
    image: redis:latest
    container_name: redis-server
    hostname: redis-server
    ports:
      - 6379:6379
    networks:
    - otel-with-pulsar
    logging:
      driver: 'json-file'
      options:
        max-size: '2m'
        max-file: '5'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s      

  pulsar-server:
    command: bin/pulsar standalone
    image: apachepulsar/pulsar:2.7.0
    container_name: pulsar-server
    hostname: pulsar-server
    ports:
    - 8080:8080
    - 6650:6650
    networks:
    - otel-with-pulsar
    healthcheck:
      interval: 10s
      retries: 20
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:8080/admin/v2/clusters/standalone

  otel-collector:
    image: otel/opentelemetry-collector-contrib-dev
    container_name: otel-collector
    hostname: otel-collector
    command: ["--config=/etc/collector-config.yaml"]
    volumes:
      - ./collector-config.yaml:/etc/collector-config.yaml
    ports:
      - "13133:13133"
      - "55680:55680"
    networks:
    - otel-with-pulsar
    depends_on:
      apm-server:
        condition: service_healthy    

  apm-server:
    image: docker.elastic.co/apm/apm-server:7.10.2
    container_name: apm-server
    hostname: apm-server
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    cap_add: ["CHOWN", "DAC_OVERRIDE", "SETGID", "SETUID"]
    cap_drop: ["ALL"]
    ports:
    - 8200:8200
    networks:
    - otel-with-pulsar
    command: >
       apm-server -e
         -E apm-server.rum.enabled=true
         -E setup.kibana.host=kibana:5601
         -E setup.template.settings.index.number_of_replicas=0
         -E apm-server.kibana.enabled=true
         -E apm-server.kibana.host=kibana:5601
         -E output.elasticsearch.hosts=["elasticsearch:9200"]
    healthcheck:
      interval: 10s
      retries: 20
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:8200/

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    container_name: elasticsearch
    environment:
    - bootstrap.memory_lock=true
    - cluster.name=docker-cluster
    - cluster.routing.allocation.disk.threshold_enabled=false
    - discovery.type=single-node
    - ES_JAVA_OPTS=-XX:UseAVX=2 -Xms1g -Xmx1g
    ulimits:
      memlock:
        hard: -1
        soft: -1
    ports:
    - 9200:9200
    networks:
    - otel-with-pulsar
    healthcheck:
      interval: 10s
      retries: 20
      test: curl -s http://localhost:9200/_cluster/health | grep -vq '"status":"red"'

  kibana:
    image: docker.elastic.co/kibana/kibana:7.10.2
    container_name: kibana
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    ports:
    - 5601:5601
    networks:
    - otel-with-pulsar
    healthcheck:
      interval: 10s
      retries: 20
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:5601/api/status    

networks:
  otel-with-pulsar:
    driver: bridge